* {
    box-sizing: border-box;
}

header, #container-news {
    min-width: 900px;
    margin: 10px 25%;
}

header {
    height: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

header > section, header > nav {
    height: inherit;
}

header h1 {
    margin: 0px;
}

header > nav {
    margin-left: 25px;
    display: flex;
    flex-flow: row wrap;
}

header > nav a {
    font-size: 12px;
    display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 1rem;
}

header > nav a:hover {
    color: #39c2d7;
}

#banner {
    position: relative;
}

#banner h2 {
    position: absolute;
    font-size: 32px;
    top: 100px;
    width: 25%;
    left: 10%;
    color: #fff;
}

#container-news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news {
    background-color: #ccc;  
    padding: 1rem;
    flex: 0 0 32%;
    height: 250px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 1rem;
}

.news > h3, .news > p {
    margin: 0 auto 0.5rem auto;
}

.news:hover {
    background-color: #39c2d7;
}

.news > img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #39c2d7;
    color: #fff;
}

footer nav, footer section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer nav {
    margin-left: 10%;
}

footer nav a {
    margin-right: 1rem;
}

footer nav a {
    color: inherit;
}

footer nav a:hover {
    text-decoration: none;
}

@media (max-width: 900px) {
    header {
        height: 100px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    header, #container-news {
        min-width: 900px;
        margin: 10px auto;
    }

    #banner img {
        width: 100%;
    }
    
    #banner h2 {
        font-size: 24px;
        top: 10px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }
    
    .news {
        flex: 0 0 48%;
    }

    .news > img {
        display: block;
        width: 75%;
        margin: 0.5rem auto;
    }

    footer {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 5px auto;
    }

    footer nav {
        margin: 0px;
        margin-top: 1rem;
    }

}
@media (max-width: 575px) {

}