#content {
  background-color: #3b3b3b;
  padding: 10px;
  color: #ffffff; }
  #content h1, #content h2 {
    color: #f5c70f; }
  #content h1 {
    text-align: center;
    text-transform: uppercase; }
  #content img {
    border: 1px solid #f5c70f;
    padding: 2px; }
    #content img.img-left {
      float: left;
      margin-right: 1rem;
      margin-bottom: 0.5rem; }
    #content img.img-right {
      float: right;
      margin-left: 1rem;
      margin-bottom: 0.5rem; }
  #content div.brief {
    background-color: #fff178;
    padding: 1rem;
    margin-bottom: 2em;
    color: #000000; }
  #content a {
    color: #fccd10; }
  #content table {
    background-color: #677d01;
    border-collapse: collapse; }
    #content table caption {
      text-align: right;
      color: #000000; }
    #content table th, #content table td {
      padding: 0.5rem 1rem; }
    #content table th {
      color: #000000;
      text-transform: uppercase;
      background-color: #94a34e;
      text-align: left;
      font-weight: normal;
      border: 1px solid #94a34e; }
      #content table th:nth-child(-n+2) {
        border-right: 1px solid #ffffff; }
    #content table td {
      border: 0px;
      border-bottom: 1px solid #94a34e; }
