#content {
  background-color: #ffffff;
  padding: 10px;
  color: #000000; }
  #content h1, #content h2 {
    color: #893c00; }
  #content h1 {
    text-align: center;
    text-transform: none; }
  #content img {
    border: 1px solid #893c00;
    padding: 2px; }
    #content img.img-left {
      float: left;
      margin-right: 1rem;
      margin-bottom: 0.5rem; }
    #content img.img-right {
      float: right;
      margin-left: 1rem;
      margin-bottom: 0.5rem; }
  #content div.brief {
    background-color: #dcbb9a;
    padding: 1rem;
    margin-bottom: 0.5rem;
    color: #000000;
    width: 400px;
    float: left;
    margin-right: 1rem; }
  #content a {
    color: #3d70a1; }
  #content table {
    background-color: inherit;
    border-collapse: collapse; }
    #content table caption {
      text-align: right;
      color: #000000; }
    #content table th, #content table td {
      padding: 0.5rem 1rem; }
    #content table th {
      color: #000000;
      text-transform: uppercase;
      background-color: #808080;
      text-align: left;
      font-weight: normal;
      border: 1px solid #808080; }
      #content table th:nth-child(-n+2) {
        border-right: 1px solid #ffffff; }
    #content table td {
      border: 0px;
      border-bottom: 1px solid #808080; }
  #content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #content form div label {
      display: block;
      color: #808080;
      text-transform: uppercase; }
    #content form div.input1 {
      padding-bottom: 1rem;
      width: 100%; }
    #content form div.input2 {
      width: calc((100% - 10px) / 2); }
    #content form div input, #content form div textarea {
      border: 1px solid #808080;
      width: 100%; }
    #content form button {
      width: 200px;
      color: #3d70a1;
      border: 1px solid #3d70a1;
      text-align: center;
      padding: 10px;
      background-color: inherit;
      text-transform: uppercase;
      font-size: 18px; }
