<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework 13 - Angular Part 1 </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="postPageApp">
    <div ng-controller="postController">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-s-4">
                       <h1 ng-click="selectTab('blog')" class="push-left">{{title}}</h1>
                    </div>

                    <div class="offset-s-4 col-s-4">
                        <nav role='navigation' class="push-right">
                            <ul>
                                <li><a href="#" ng-click="selectTab('post')">See All Posts</a></li>
                                <li><a href="#" ng-click="selectTab('new')">Add New Post</a></li>
                                <li>
                                    <label for="">Search by</label>
                                    <input ng-model="query['title']">
                                </li>
                            </ul>
                        </nav> 
                    </div>

                </div>
            </div>       
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <ul class="post-grid" ng-show="isSelected('post')">
                        <li ng-repeat="post in posts | filter:query" class="col-s-4">
                            <h3>{{post.title}}</h3>
                            <img ng-src="./assets/{{post.image}}" alt="No image"/>
                            <p>{{post.description | limitTo:150}}...</p>
                            <a href="#" ng-click="enableEditor($index)">edit</a>
                        </li>
                    </ul>


                    <div class="post" ng-show="isSelected('new')">
                        <h2>Add New Post</h2>
                    
                        <form name="postForm" ng-submit="addPost()" novalidate>
                            <h4>Title</h4>
                            <input type="text" ng-model="post.title"/>
                            <h4>Description</h4>
                            <textarea ng-model="post.description" ng-list="/\n/" rows="10"></textarea>
                            <label for="">Featured Image URL</label>
                            <input type="text" ng-model="post.image" placeholder="image.jpg" />
                            
                            <input type="submit" value="Submit" />
                        </form>
                    
                    </div>


                    <div class="post" ng-show="isSelected('edit/' + currentPost)">

                        <h2>Edit Post {{$index}}</h2>
                    
                        <form name="postForm" ng-submit="editPost()" novalidate>
                            <h4>Title</h4>
                            <input type="text" ng-model="post.title"/>
                            <h4>Description</h4>
                            <textarea ng-model="post.description" ng-list="/\n/" rows="10"></textarea>
                            <label for="">Featured Image URL</label>
                            <input type="text" ng-model="post.image" placeholder="image.jpg" />
                            
                            <input type="submit" value="Submit" />
                        </form>    
                    </div>


                </div>
            </div>
            
        </div>
    </div>
        

    <script src="lib/angular.min.js"></script>
    <script src="src/data.js"></script>
    <script src="src/app.js"></script>
</body>
</html>
