* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', serif;
}

header {
    height: 100vh;
    position: relative;
    padding: 25px;
    background: url(../img/apples.jpg) no-repeat center center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 900px;
    margin: auto 5%;
}

nav section:first-child a {
    justify-content: flex-start;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav section:first-child a, nav section:last-child a {
    display: inline-block;
    text-decoration: none;
    margin: auto 15px;
    padding: 0 5px;
    height: 25px;
}

nav section:first-child a:hover, nav section:last-child a:hover {
    margin: auto 15px;
    border-bottom: 2px solid #B7C8D9;
}

header * {
    color: #ffffff;
}

header > section {
    text-align: center;
    width: 100%;
    
    margin-top: 12rem;
    margin-bottom: 12rem;
}

header > section > h1 {
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 0px;
}

header > section > h1 > span {
    font-size: 48px;
}

header > section > h1 > span > sup {
    font-size: 12px;
    letter-spacing: 0px;
    vertical-align: text-top;
}

header > section > h6 {
    margin-top: 0px;
}

header > section > a {
    display: block;
    border: 2px solid #ffffff;
    width: 250px;
    margin: 12rem auto;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5)
}





