// General
@import './styles/fonts';
@import './styles/colors';

/* Import your components styles here */

.header {
    height: 50px;
    width: 100%;
}

.color {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .color {
    margin-bottom: 1rem;
}