// General
@import './styles/fonts';
@import './styles/colors';

/* Import your components styles here */

.header {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    position: relative;
}

.availabled {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .selected {
    margin-bottom: 1rem;
}

.search {
    font-size: 18px;
    border: none;
}

.search:focus {
    outline:0;
}

.count-selects, .any-selected {
    font-size: 18px;
    color: gray;
    text-align: right;
    margin-top: 10px; 
}

.any-selected {
    width: 100%;
    text-align: center;
}

.add {
    text-decoration: none;
    width: 60px;
    height: 25px;
    background-color: white;
    color: brown;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    position: absolute;
    left: 15px;
    bottom: 15px;
    right: 0;
}

.add > * {
    font-size: 12px;    
}

.cancel {
    color: red;
}

.availables {
    display: flex;
    flex-direction: row;
}

.no-availabled {
    float: left;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid #000;

    &.mediumpurple {
        border: 1px solid #9370DB;
    }

    &.periwinkle {
        border: 1px solid #AAAAFF;
        margin-right: -20px;
    }

    &.lavender {
        border: 1px solid #E6E6FA;
        margin-right: -20px;
    }
}



/*
        &.light-violet {
            border: 2px solid $light-violet;
        }

        &.light-blue {
            border: 2px solid $light-blue;
        }

        &.violet {
            border: 2px solid $violet;
        }

        &:nth-child(n+1) {
            margin-left: -20px;
        }
    }

    .selected {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        position: relative;

        &:nth-child(n+1) {
            margin-left: -10px;
        }

        .deleteButton {
            position: absolute;
            top: -6px;
            left: -6px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $red;
            text-align: center;

            & > i {
                vertical-align:middle;
                font-size: 14px;
                margin-bottom: 9.5px;
                color: $white;
            }
        }
    }
}
*/